{% extends 'layout/base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="container">
    <div class="value-props row">
        <div class="four columns value-prop">
            <img src="{% static 'images/online-safari.png' %}" alt="Online push notification testing" class="value-img" width="50" />
            Completely online GCM and APNS push notification tester for quick notification testing.
        </div>
        <div class="four columns value-prop">
            <img src="{% static 'images/data.png' %}" alt="JSON GCM and APNS tester online" class="value-img" width="50" />
            Simple notifications as well as JSON support to test customized parameters.
        </div>
        <div class="four columns value-prop">
            <img src="{% static 'images/open-source.png' %}" alt="open source and free GCM and APNS tester" class="value-img" width="50" />
            Open source and self-hosted solution with pre defined templates available.
        </div>
    </div>

    <!-- Docs -->
    <div class="docs-section">
        <h6 class="docs-header" id="howto">How to use pushwatch?</h6>
        <p>Pushwatch is an easy to use online GCM and APNS notification testing system that can be used to test push notifications on android and ios devices. Pushwatch supports both a simple message and JSON data that can be sent to devices. To use pushwatch you'll need to have the device token of the device and API Key for GCM testing and/or ".pem" certificate to test APNS notifications.</p>
        <p>pushwatch is open-source and absolutely free to use for anyone. If you like pushwatch and find it useful, Please spread the word and have other devs around the world try it as well. </p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.pushwatch.com/" data-text="#Pushwatch an online #GCM and #APNS testing tool for #android and #ios devices" data-via="mytharora">Tweet about pushwatch</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <a href="https://twitter.com/mytharora" class="twitter-follow-button" data-show-count="false">Follow @mytharora</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</div>
<div class="splitter">
    <div class="split">
        <a href="#" class="split-link">
            <img src="{% static 'images/cloud-apple.png' %}" />
            <p>Test APNS notifications</p>
        </a>
    </div>
    <div class="split u-pull-right">
        <a href="#" class="split-link">
            <img src="{% static 'images/cloud-android.png' %}" />
            <p>Test GCM notifications</p>
        </a>
    </div>
</div>
{% endblock content %}
