{% load static from staticfiles %}
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link logo" href="{% url 'home:index' %}"><img src="{% static 'images/pushwatch.png' %}" /></a></li>
            <li class="navbar-item"><a class="navbar-link" href="{% url 'home:apns' %}">Test APNS</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{% url 'home:gcm' %}">Test GCM</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{% url 'home:index' %}#howto">How to Test</a></li>
            <li class="navbar-item"><a class="navbar-link" href="https://github.com/amyth/pushwatch" target="_blank">Source</a></li>
            <li class="navbar-item"><a class="navbar-link" href="https://twitter.com/mytharora" target="_blank">Author</a></li>
            <li class="navbar-item"><a class="navbar-link" href="http://www.techstricks.com/contact-us/">Contact</a></li>
        </ul>
    </div>
</nav>
