{% extends 'layout/base.html' %}

{% block header %}
    {% include 'partials/navigation.html' %}
{% endblock header %}


{% block content %}
<div class="starter">
    {% include 'partials/messages.html' %}
    <div class="container">
        <h4 class="title"><strong>Test APNS push notifications</strong></h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="twelve columns">
                    <label class="example-send-yourself-copy">
                        <input type="checkbox" name="use_json" id="id_use_json">
                        <span class="label-body">Use JSON</span>
                    </label>
                    <label for="id_pem_certificate">PEM Certificate</label>
                    <input type="file" id="id_pem_certificate" name="pem_certificate" placeholder="Your pem certificate file" accept="application/x-pem-file" class="u-full-width
                    {% if form.errors.pem_certificate.0 %}error{% endif %}" />
                    {% if form.errors.pem_certificate.0 %}
                    <span class="error-message">{{ form.errors.pem_certificate.0 }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <label for="id_device_tokens">Device token(s)</label>
                    <textarea class="u-full-width {% if form.errors.device_tokens.0 %}error{% endif %}" placeholder="Enter a comma separated list of device tokens" id="id_device_tokens" name="device_tokens"></textarea>
                    {% if form.errors.device_tokens.0 %}
                    <span class="error-message">{{ form.errors.device_tokens.0 }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <label for="id_apns_message">Message</label>
                    <textarea class="u-full-width {% if form.errors.apns_message.0 %}error{% endif %}" placeholder="Please enter the notification message." id="id_apns_message" name="apns_message"></textarea>
                    {% if form.errors.apns_message.0 %}
                    <span class="error-message">{{ form.errors.apns_message.0 }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <label for="id_apns_data">JSON data</label>
                    <textarea class="u-full-width {% if form.errors.apns_data.0 %}error{% endif %}" placeholder="Add a JSON object with parameter keys and values." id="id_apns_data" name="apns_data"></textarea>
                    {% if form.errors.apns_data.0 %}
                    <span class="error-message">{{ form.errors.apns_data.0 }}</span>
                    {% endif %}
                </div>
            </div>
            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}
