{% extends 'layout/base.html' %}

{% block page_title %}GCM push notification tester and debugger online free - pushwatch{% endblock page_title %}
{% block metadesc %}Online GCM Tester. Send, test and debug your GCM push notification messages for free online.{% endblock metadesc %}
{% block og_title %}GCM push notification tester and debugger online free - pushwatch{% endblock og_title %}
{% block og_desc %}Online GCM Tester. Send, test and debug your GCM push notification messages for free online.{% endblock og_desc %}

{% block header %}
    {% include 'partials/navigation.html' %}
{% endblock header %}


{% block content %}
<div class="starter">
    {% include 'partials/messages.html' %}
    <div class="container">
        <h4 class="title"><strong>Test GCM push notifications</strong></h4>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="twelve columns">
                    <label class="example-send-yourself-copy">
                        <input type="checkbox" name="use_json" id="id_use_json">
                        <span class="label-body">Use JSON</span>
                    </label>
                    <label for="id_api_key">API Key</label>
                    <input type="text" id="id_api_key" name="api_key" placeholder="API Key" class="u-full-width
                    {% if form.errors.api_key.0 %}error{% endif %}" />
                    {% if form.errors.api_key.0 %}
                    <span class="error-message">{{ form.errors.api_key.0 }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <label for="id_device_tokens">Device token(s)</label>
                    <textarea class="u-full-width {% if form.errors.device_tokens.0 %}error{% endif %}" placeholder="Enter a comma separated list of device tokens" id="id_device_tokens" name="device_tokens"></textarea>
                    {% if form.errors.device_tokens.0 %}
                    <span class="error-message">{{ form.errors.device_tokens.0 }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <label for="id_gcm_message">Message</label>
                    <textarea class="u-full-width {% if form.errors.gcm_message.0 %}error{% endif %}" placeholder="Please enter the notification message." id="id_gcm_message" name="gcm_message"></textarea>
                    {% if form.errors.gcm_message.0 %}
                    <span class="error-message">{{ form.errors.gcm_message.0 }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <label for="id_gcm_data">JSON data</label>
                    <textarea class="u-full-width {% if form.errors.gcm_data.0 %}error{% endif %}" placeholder="Add a JSON object with parameter keys and values." id="id_gcm_data" name="gcm_data"></textarea>
                    {% if form.errors.gcm_data.0 %}
                    <span class="error-message">{{ form.errors.gcm_data.0 }}</span>
                    {% endif %}
                </div>
            </div>
            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock content %}
