{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block page_title %}Online GCM and APNS notification tester and debugger - pushwatch{% endblock page_title %}</title>

        <meta name="description" content="{% block metadesc %}Test GCM and APNS push notifications with pushwatch. Send test GCM or APNS messages to your android or ios devices with JSON support.{% endblock metadesc %}">

        <meta content="{% block og_title %}Online GCM and APNS notification tester and debugger - pushwatch{% endblock og_title %}" property="og:title">
        <meta content="{% block og_type %}website{% endblock og_type %}" property="og:type">
        <meta content="{% block og_image %}{% static 'images/pushwatch.png' %}{% endblock og_image %}" property="og:image">
        <meta content="{% block og_url %}http://www.pushwatch.com{{ request.get_full_path }}{% endblock og_url %}" property="og:url">
        <meta content="{% block og_desc %}Test GCM and APNS push notifications with pushwatch. Send test GCM or APNS messages to your android or ios devices with JSON support.{% endblock og_desc %}" property="og:description">


        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/pushwatch.css' %}" />

        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pushwatch.js' %}"></script>
    </head>

    <body>
        {% block header %}
            {% include  'partials/header.html' %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}
        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock footer %}
    </body>
</html>
